<footer class="site-footer pv4 bt b--transparent ph5" role="contentinfo">
  <nav class="db dt-l w-100">
    <div class="site-links f6 db dtc-l v-mid w-100 tc pv2 pv0-l mv0">
      {{ range site.Menus.footer }}
      <a class="dib pv1 ph2 link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>
  {{ with site.Params.math }}
    {{ partial "shared/math-preprocess.html" }}
  {{ with .renderer }}
    {{ if eq . "mathjax" }}
      {{ partial "shared/math-render-mathjax.html" }}
    {{ end }}
    {{ if eq . "katex" }}
      {{ partial "shared/math-render-katex.html" }}
    {{ end }}
  {{ end }}
  {{ end }}
</footer>
